<template>
  <div class="home">
    <ImageSquare v-for="(image, index) in images" :key="index" :image="image" />
  </div>
</template>

<script>
import ImageSquare from '@/components/ImageSquare.vue';

</script>

<style scoped>
.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
}
</style>
