<template>
  <div class="login-container">
    <div class="background-image"></div>
    <div class="login-form">
      <h1 class="title">Login</h1>
      <form @submit.prevent="login">
        <div class="form-group">
          
          <input type="email" v-model="email" required class="input-field" placeholder="Email"/>
        </div>
        <div class="form-group">
          
          <input type="password" v-model="password" required class="input-field" placeholder="Password" />
        </div>
        <button type="submit" class="login-button">Entrar</button>
      </form>
      <div class="register-link">
        <p> Don't have an account? <a href="/register">Create one!</a></p>
      </div>
      <p v-if="error" class="error">{{ error }}</p>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: '',
      password: '',
      error: null
    };
  },
  methods: {
    login() {
      // Simulação de validação de login
      if (this.email === 'usuario@exemplo.com' && this.password === 'senha123') {
        alert('Login bem-sucedido!');
        this.error = null;
        // Redirecionar ou executar outras ações pós-login
      } else {
        this.error = 'Credenciais inválidas.';
      }
    }
  }
};
</script>

<style scoped>
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  font-family: 'Medieval',serif;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('@/assets/background_register.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.login-form {
  background: rgba(0, 0, 0, 0);
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  width: 350px;
  z-index: 1;
  margin-top: 4rem;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: 'Medieval', serif;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: 'Cinzel', serif;
}

form {
  display: flex;
  flex-direction: column;
}

.input-field {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #444;
  border-radius: 5px;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  font-family: 'Medieval',serif;
}

.input-field::placeholder {
  color: #ccc;
  opacity: 1;
}

.login-button {
  padding: 1.1rem;
  background-image: url('@/assets/register_button.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 5px;
  color: #ffffff00;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin-top: 1.3rem;
  margin-bottom: 0.5rem;
}

.login-button:hover {
  background-color: rgba(102, 102, 102, 0.8);
}

.register-link a {
  color:#e7a752e8
}


.error {
  color: red;
  margin-top: 1rem;
}

/* Media Queries */
@media (max-width: 600px) {
  .login-form {
    padding: 1rem;
  }

  .title {
    font-size: 1.8rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }

  .input-field {
    padding: 0.4rem;
    font-size: 0.9rem;
  }

  .login-button {
    padding: 0.4rem;
    font-size: 0.9rem;
  }
}
</style>
