<template>
  <div class="home">
    <ImageSquare v-for="(image, index) in images" :key="index" :image="image" />
  </div>
</template>

<script>
import ImageSquare from '@/components/ImageSquare.vue';

export default {
  name: 'HomeView',
  components: {
    ImageSquare
  },
  data() {
    return {
      images: [
        { url: '/src/assets/image1.jpg', text: 'Texto 1' },
        { url: '/src/assets/image2.jpg', text: 'Texto 2' },
        { url: '/src/assets/image3.jpg', text: 'Texto 3' },
        { url: '/src/assets/image4.jpg', text: 'Texto 4' },
        { url: '/src/assets/image5.jpg', text: 'Texto 5' },
        { url: '/src/assets/image6.jpg', text: 'Texto 6' },
        { url: '/src/assets/image7.jpg', text: 'Texto 7' },
        { url: '/src/assets/image8.jpg', text: 'Texto 8' }
      ]
    };
  }
};
</script>

<style scoped>
.home {
  display: flex;
  flex-wrap: wrap;
}
</style>
