<template>
  <div class="register-container">
    <div class="background-image"></div>
    <div class="register-form">
      <h1 class="title"></h1>
      <h2 class="subtitle">CREATE ACCOUNT</h2>
      <form @submit.prevent="register">
        <input type="text" v-model="username" placeholder="Username" required class="input-field"/>
        <input type="email" v-model="email" placeholder="Email" required class="input-field"/>
        <input type="password" v-model="password" placeholder="Password" required class="input-field"/>
        <input type="password" v-model="confirmPassword" placeholder="Confirm Password" required class="input-field"/>
        <button type="submit" class="register-button">REGISTER</button>
      </form>
      <div class="login-link">
        <p>Already have an account? <a href="/login">Log In!</a></p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Register',
  data() {
    return {
      username: '',
      email: '',
      password: '',
      confirmPassword: ''
    }
  },
  methods: {
    register() {
      console.log('Registering', this.username, this.email, this.password, this.confirmPassword);
    }
  }
}
</script>

<style scoped>
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('@/assets/background_register.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.register-form {
  background: rgba(0, 0, 0, 0);
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  width: 90%;
  max-width: 350px;
  z-index: 1;
  margin-top: 4rem;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: 'Cinzel', serif;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: 'Medieval', serif;
}

form {
  display: flex;
  flex-direction: column;
}

.input-field {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #444;
  border-radius: 5px;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  font-family: 'Medieval', serif;
}

.input-field::placeholder {
  color: #ccc;
  opacity: 1;
}

.register-button {
  padding: 1.1rem;
  background-image: url('@/assets/register_button.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 5px;
  color: #ffffff00;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin-top: 1.3rem;
  margin-bottom: 0.5rem;
}

.login-link a {
  color: #e7a752e8; /* Change this to your desired link color */
  text-decoration: none;
  padding: 0.5rem;
}

.register-button:hover {
  background-color: rgba(102, 102, 102, 0.8);
}

/* Media Queries */
@media (max-width: 600px) {
  .register-form {
    padding: 1rem;
    width: 90%;
    max-width: 300px;
  }

  .title {
    font-size: 1.8rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }

  .input-field {
    padding: 0.4rem;
    font-size: 0.9rem;
  }

  .register-button {
    padding: 0.4rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 400px) {
  .register-form {
    padding: 0.5rem;
    width: 90%;
    max-width: 250px;
  }

  .title {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .input-field {
    padding: 0.3rem;
    font-size: 0.8rem;
  }

  .register-button {
    padding: 0.3rem;
    font-size: 0.8rem;
  }
}
</style>
