@import './base.css';

#app {
  max-width: 1920px;
  margin: 0px;
  padding: 0px;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(261, 100%, 100%, 0.2);
  }
}

@media (min-width: 0px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 0rem;
  }
}
