<script setup>
import { RouterLink, RouterView } from 'vue-router'
</script>

<template>
  <div id="app">
    <header>
      <nav>
        <RouterLink to="/">Home</RouterLink>
        <RouterLink to="/about">About</RouterLink>
        <RouterLink to="/register">Register</RouterLink>
        <RouterLink to="/login">Login</RouterLink>
      </nav>
    </header>
    <router-view />
  </div>
</template>

<style scoped>
body, html, #app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

header {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
}

nav a {
  margin-right: 10px;
  text-decoration: none;
  color: #28a745;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
</style>
